<!DOCTYPE html>
<html>
  <head>
    <title>Music Title</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/"><img class="picto" src="/images/music.svg"> Music title</a>
      <a href="/my-playlist"><img class="picto" src="/images/playlist.svg"> Playlist</a>
    </nav>
    <div id="content">
      <h1>Make your choice</h1>
      <!-- <div id="filter">
          <img class="picto" src="/images/filter.svg">
          <a href="#">pop</a>
          <a href="#">rock</a>
          <a href="#">R&B</a>
      </div>
      <div id="sort">
        <a href="#">Date</a>
        <img class="picto" src="/images/sort.svg">
      </div> -->
      <ul>
        <li><a href="/add-title"><img class="picto" src="/images/add.svg"> Wannabe - Spice Girls - 1996</a></li>
        <li><a href="/add-title"><img class="picto" src="/images/add.svg"> Thriller - Michael Jackson - 1983</a></li>
        <li><a href="/add-title"><img class="picto" src="/images/add.svg"> God Save the Queen - The Sex Pistols - 1977</a></li>
        <li><a href="/add-title"><img class="picto" src="/images/add.svg"> Shape of you - Ed Sheeran - 2017</a></li>
        <li><a href="/add-title"><img class="picto" src="/images/add.svg"> Shockwave - Liam Gallagher - 2019<</a></li>
      </ul>
    </div>
  </body>
</html>
