<!DOCTYPE html>
<html>
  <head>
    <title>Playlist</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Music title</a>
      <a href="/my-playlist">Playlist</a>
    </nav>
    <div id="content">
      <h1>Your playlist</h1>
      <ul>
        <li><a href="/delete-title"><img class="picto" src="/images/remove.svg"> Wannabe - Spice Girls - 1996</a></li>
        <li><a href="/delete-title"><img class="picto" src="/images/remove.svg"> Thriller - Michael Jackson - 1983</a></li>
      
      </ul>
    </div>
  </body>
</html>
