<!DOCTYPE html>
<html>
  <head>
    <title>Playlist</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Music title</a>
      <a href="/my-playlist">Playlist</a>
    </nav>
    <div id="content">
      <h1>Your playlist</h1>
      <ul>
        <% if(myPlaylist.length != 0 ){ for(i=0; i < myPlaylist.length; i++ ) { %>
        <li>
          <a href="/delete-title">
            <input type="hidden" value="<%= i %>" name="position">
            <img class="picto" src="/images/remove.svg">
            <%= myPlaylist[i].title %> - <%= myPlaylist[i].artist %> - <%= myPlaylist[i].year %>
          </a>
        </li>
        <% }} else { %>
        <p>Vous n'avez pas encore de titre dans votre playlist</p>
          <% } %>
      </ul>
    </div>
  </body>
</html>
